#skills-section {
    padding: 150px 20px;
    background-color: #111; /* Dark background */
    color: #fff; /* White text */
    text-align: center;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #fff; /* White text */
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skill-card {
    background-color: #222; /* Slightly lighter background */
    border: 2px solid #ffffff;
    border-radius: 8px;
    width: 200px;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.skill-card h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
}

.skill-card p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #ddd;
}

.skill-card:hover {
    transform: translateY(-50px);
    box-shadow: 0px 15px 100px rgba(234,115,141, 0.5);
}

.skill-icon {
    display: block;
    margin: 0px auto;
    width: 60px; 
    height: auto;
}

.skill-icon1 {
    display: block;
    margin: 10px auto;
    width: 60px; 
    height: auto;
    filter: brightness(0) invert(1);
}
